DEPLOY=false
JWT_SECRET=
HOST_DB=postgres
HOST_VALKEY=valkey
PORT_VALKEY=6379

# S3 config global
ENDPOINT=https://gxyydpdficdixknfdkej.storage.supabase.co/storage/v1/s3
REGION=eu-central-1
ACCESS_KEY=
SECRET_KEY=
BUCKET=auc-global
